In [11]:
import polars as pl
import numpy as np

In [12]:
series = pl.Series(["Qatar", "Canada", "China", "Thailand", "Mexico"])
data_frame = pl.DataFrame({"Country": series, 
                           "Continent": np.array(["Asia", "North America", "Asia", "Asia", "South America"]) })

In [13]:
series

shape: (5,)
Series: 'Country' [str]
[
	"Qatar"
	"Canada"
	"China"
	"Thailand"
	"Mexico"
]

In [14]:
data_frame

shape: (5, 2)
┌──────────┬───────────────┐
│ Country  ┆ Continent     │
│ ---      ┆ ---           │
│ str      ┆ str           │
╞══════════╪═══════════════╡
│ Qatar    ┆ Asia          │
│ Canada   ┆ North America │
│ China    ┆ Asia          │
│ Thailand ┆ Asia          │
│ Mexico   ┆ South America │
└──────────┴───────────────┘

In [15]:
co2_data = pl.read_csv("data/co2_emissions_kt_by_country.csv")
co2_data

shape: (13953, 4)
┌──────────────┬──────────────┬──────┬──────────────┐
│ country_code ┆ country_name ┆ year ┆ value        │
│ ---          ┆ ---          ┆ ---  ┆ ---          │
│ str          ┆ str          ┆ i64  ┆ f64          │
╞══════════════╪══════════════╪══════╪══════════════╡
│ ABW          ┆ Aruba        ┆ 1960 ┆ 11092.675    │
│ ABW          ┆ Aruba        ┆ 1961 ┆ 11576.719    │
│ ABW          ┆ Aruba        ┆ 1962 ┆ 12713.489    │
│ ABW          ┆ Aruba        ┆ 1963 ┆ 12178.107    │
│ ...          ┆ ...          ┆ ...  ┆ ...          │
│ ZWE          ┆ Zimbabwe     ┆ 2016 ┆ 11020.000458 │
│ ZWE          ┆ Zimbabwe     ┆ 2017 ┆ 10340.000153 │
│ ZWE          ┆ Zimbabwe     ┆ 2018 ┆ 12380.000114 │
│ ZWE          ┆ Zimbabwe     ┆ 2019 ┆ 11760.000229 │
└──────────────┴──────────────┴──────┴──────────────┘

In [17]:
co2_data.dtypes

[Utf8, Utf8, Int64, Float64]

In [18]:
co2_data.head()

shape: (5, 4)
┌──────────────┬──────────────┬──────┬───────────┐
│ country_code ┆ country_name ┆ year ┆ value     │
│ ---          ┆ ---          ┆ ---  ┆ ---       │
│ str          ┆ str          ┆ i64  ┆ f64       │
╞══════════════╪══════════════╪══════╪═══════════╡
│ ABW          ┆ Aruba        ┆ 1960 ┆ 11092.675 │
│ ABW          ┆ Aruba        ┆ 1961 ┆ 11576.719 │
│ ABW          ┆ Aruba        ┆ 1962 ┆ 12713.489 │
│ ABW          ┆ Aruba        ┆ 1963 ┆ 12178.107 │
│ ABW          ┆ Aruba        ┆ 1964 ┆ 11840.743 │
└──────────────┴──────────────┴──────┴───────────┘